.boton{
    background-color: rgb(246, 246, 193); ;
    color: black;
    border: solid black;
}

.boton:hover {
    background-color: rgb(246, 246, 193); ;
    color: black;
    border: solid black;
}