.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tiendasisu-b70ee.appspot.com/o/Monocrom%C3%A1tico%20Paisaje%20Banner%20para%20Tumblr.png?alt=media&token=ddc8bad4-458c-4ad1-9e2c-158a85b15262");
    background-position: top center;
    background-size: cover;
    padding: 22%;
    position: relative;
    z-index: 1;
    color:white;
    background-attachment:fixed;
}

.banner::after{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top:0;
    left:0;
    opacity: 0.5;
    z-index: -1;
}

.letrau{
    color: rgb(246, 246, 193);
}